@import './global.scss';

#center {
    width: 100%;
}

#c-left {
    float: left;
    width: 200px;
    height: 32px;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    transition: all .8s ease-out;

    &:hover {
        width: 300px;
        height: calc(100vh - 100px);

        ul {
            height: calc(100vh - 132px);
            opacity: 1;
        }
    }

    .head {
        // height: 32px;
        text-align: center;
        // line-height: 32px;
        font-size: 24px;
    }

    ul {
        height: 0;
        overflow: hidden;
        overflow-y: scroll;
        opacity: 0;
        transition: all .8s ease-out;

    }

    li {
        width: 260px;
        padding: 10px;
        margin: 10px auto;
        box-sizing: border-box;
        overflow: hidden;

        box-shadow: 0 0 5px 1px $boxShadowColor;
        border-radius: 5px;

        &:hover{
            box-shadow: 0 0 5px 5px $boxShadowColor;
        }
    }
}

#c-right {
    border: 1px solid $borderColor;
    margin: auto;
    width: 1200px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    position: relative;

    .textarea {
        padding: 5px;
        height: 100%;
        width: 100%;
        font-size: 16px;
        border: 0;
        box-sizing: border-box;
        resize: none;
        outline: none;
    }

    .artic-title-box {
        background: $backgrundColor1;

        .artic-title {
            height: 40px;
            line-height: 40px;
            font-size: 24px;
        }
    }

    .artic-content-box {
        height: calc(100vh - 144px);
        background: $backgrundColor1;

        //编辑区
        #edit {
            width: 100%;
            float: left;
            height: calc(100vh - 144px);
        }

        //预览区
        #preview {
            display: none;
            float: right;
            width: 100%;
            height: calc(100vh - 144px);
            background: $borderColor;
            box-sizing: border-box;

            .effect-preview {
                padding: 5px;
                height: 100%;
                background: #fcfcfc;
                overflow: hidden;
                overflow-y: scroll;
                box-sizing: border-box;
            }
        }
    }

    //右侧菜单
    .right-menu {
        position: absolute;
        right: -90px;
        top: 100px;

        li {
            margin: 5px;

            a {
                display: block;
                height: 40px;
                width: 80px;
                line-height: 40px;
                text-align: center;
                background: $backgrundColor1;
                box-sizing: border-box;
                border-bottom: 0 solid;
                text-decoration: none;
                transition: all .2s ease-out;

                &:hover {
                    border-bottom-width: 4px;
                }
            }
        }
    }
}