@import './global.scss';
//滚动条
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

// ::-webkit-scrollbar-track {
//     background-color: #fff2df;
// }

//滚动条的滑轨背景颜色
::-webkit-scrollbar-thumb {
    background-color: $boxShadowColor;
}

//滑块颜色
// ::-webkit-scrollbar-button {
//     background-color: #ff7500;
// }

//滑轨两头的监听按钮颜色
// ::-webkit-scrollbar-corner {
//     background-color: black;
// }

.fl {
    float: left;
}

.fr {
    float: right;
}

.input-hr {
    width: 100%;
    text-align: center;
    border: 0;
    outline: none;

    &:focus+.ihr {
        width: 100%;
    }
}
//下划线
.ihr {
    margin: auto;
    height: 2px;
    width: 0;
    border: 0;
    background: $backgrundColor2;
    transition: all .3s ease-out;
}

.shade{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: $backgrundColor;
    opacity: 0.5;
}
//保存状态
.sub{
    display: none;
    position: absolute;
    top: 0;
    margin: -25px 30px;
    color: red;
    font-size: 50px;
}