//全局背景色
$backgrundColor:#fcfcfc;
//部分背景色
$backgrundColor1:#f0bdbd;
$backgrundColor2:red;
//边框色
$borderColor:#f0bdbd;
//字体色
$fontColor:#999;
//滚动条颜色
$scrollColor:#6ac2ea;
//边框阴影色
$boxShadowColor:#f0bdbd