@import "./global.scss";

.add, .save, .post {
  z-index: 1;
  display: none;
  position: absolute;
  top: 200px;
  left: calc(50vw - 130px);
  width: 260px;
  border-radius: 5px;
  background: $backgrundColor1;
  box-shadow: 0px 0 3px 3px rgba(0, 0, 0, 0.2);
  h4 {
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    cursor: move;
    margin: 0 0 5px 0;
  }
}

.add {
  div {
    padding: 0 5px;
    p {
      height: 80px;
      line-height: 80px;
      font-size: 44px;
      text-align: center;
      background: #fff;
      box-sizing: border-box;
      box-shadow: inset 2px 2px 5px 5px rgba(192, 151, 151, 0.5);
      cursor: cell;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    span {

    }
    a {
      display: block;
      margin: auto;
      height: 40px;
      width: 100px;
      line-height: 40px;
      text-align: center;
      border-bottom: 0 solid;
      text-decoration: none;
      box-sizing: border-box;
      transition: all .3s ease-out;
      &:hover {
        border-bottom-width: 4px;
      }
    }
  }

}

.save, .post {
  div {
    padding: 0 5px;
    input {
      height: 32px;
      line-height: 32px;
      font-size: 18px;
    }
    a {
      display: block;
      margin: auto;
      height: 32px;
      width: 100px;
      line-height: 32px;
      text-align: center;
      border-bottom: 0 solid;
      text-decoration: none;
      box-sizing: border-box;
      transition: all .3s ease-out;
      &:hover {
        border-bottom-width: 4px;
      }
    }

  }
}

.alerter {
  z-index: 1;
  position: fixed;
  top: 60px;
  width: 200px;
  left: calc(50vw - 100px);
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #aba2a2;
  box-sizing: border-box;
  display: none;
  h4 {
    text-align: center;
    height: 32px;
    line-height: 32px;
    background: #f0bdbd;
    font-size: 18px;
    color: #4c4c4c;
  }
  div {
    text-align: center;
    padding: 5px;
    color: #636363;
  }
}

.images {
  z-index: 1;
  display: none;
  position: absolute;
  width: 600px;
  border-radius: 5px;
  background: #f0bdbd;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .2);
  overflow: hidden;
  h4 {
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
    cursor: move;
    margin: 0 0 5px 0;
  }
  .images-box {
    position: relative;
    height: 300px;

    .move-btn {
      z-index: 1;
      position: absolute;
      top: calc(150px - 50px);
      height: 100px;
      width: 32px;
      line-height: 100px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      box-shadow: 0 0 1px 1px #333;
      cursor: e-resize;
      opacity: 0.1;
      transition: all .5s ease-out;
      &:hover {
        opacity: 0.7;
        background: #333;
      }
      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
    }
  }
  .images-items {
    position: absolute;
    left: 0;
    transition: all .5s ease-out;
    .images-item {
      position: absolute;
      padding: 5px;
      height: 300px;
      width: 600px;
      box-sizing: border-box;
      overflow: scroll;
      &:first-child {
        left: 0;
      }
      &:last-child {
        left: 600px;
      }

      li {
        display: block;
        float: left;
        padding: 2px;
        width: 33.33%;
        height: 130px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: copy;
        img{
          height: 100%;
          width: 100%;
        }
      }
      p {
        margin: 30px auto 10px auto;
        width: 320px;
        height: 180px;
        line-height: 180px;
        text-align: center;
        font-size: 100px;
        background: #f3f3f3;
        box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
        cursor: cell;
      }
      b{
        display: block;
        float: left;
        width: 100%;
        height: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
      }
    }
    span {
      display: block;
      margin: auto;
      text-align: center;
    }
    a {
      display: block;
      margin: auto;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-bottom: 0 solid;
      box-sizing: border-box;
      text-decoration: none;
      transition: all .3s ease-out;
      &:hover {
        border-bottom-width: 4px;
      }
    }
  }
}

