body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #f0bdbd;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.input-hr {
  width: 100%;
  text-align: center;
  border: 0;
  outline: none;
}
.input-hr:focus + .ihr {
  width: 100%;
}

.ihr {
  margin: auto;
  height: 2px;
  width: 0;
  border: 0;
  background: red;
  transition: all .3s ease-out;
}

.shade {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fcfcfc;
  opacity: 0.5;
}

.sub {
  display: none;
  position: absolute;
  top: 0;
  margin: -25px 30px;
  color: red;
  font-size: 50px;
}

#header {
  background: #f0bdbd;
}
#header header {
  height: 60px;
  width: 1200px;
  line-height: 60px;
  margin: auto;
}
#header header a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  transition: all .2s ease-out;
}
#header header a:hover {
  text-decoration: none;
  border-bottom: 4px solid;
  box-sizing: border-box;
}
#header li {
  display: inline-table;
}

#center {
  width: 100%;
}

#c-left {
  float: left;
  width: 200px;
  height: 32px;
  border: 1px solid #f0bdbd;
  box-sizing: border-box;
  transition: all .8s ease-out;
}
#c-left:hover {
  width: 300px;
  height: calc(100vh - 100px);
}
#c-left:hover ul {
  height: calc(100vh - 132px);
  opacity: 1;
}
#c-left .head {
  text-align: center;
  font-size: 24px;
}
#c-left ul {
  height: 0;
  overflow: hidden;
  overflow-y: scroll;
  opacity: 0;
  transition: all .8s ease-out;
}
#c-left li {
  width: 260px;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 5px 1px #f0bdbd;
  border-radius: 5px;
}
#c-left li:hover {
  box-shadow: 0 0 5px 5px #f0bdbd;
}

#c-right {
  border: 1px solid #f0bdbd;
  margin: auto;
  width: 1200px;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  position: relative;
}
#c-right .textarea {
  padding: 5px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: 0;
  box-sizing: border-box;
  resize: none;
  outline: none;
}
#c-right .artic-title-box {
  background: #f0bdbd;
}
#c-right .artic-title-box .artic-title {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
#c-right .artic-content-box {
  height: calc(100vh - 144px);
  background: #f0bdbd;
}
#c-right .artic-content-box #edit {
  width: 100%;
  float: left;
  height: calc(100vh - 144px);
}
#c-right .artic-content-box #preview {
  display: none;
  float: right;
  width: 100%;
  height: calc(100vh - 144px);
  background: #f0bdbd;
  box-sizing: border-box;
}
#c-right .artic-content-box #preview .effect-preview {
  padding: 5px;
  height: 100%;
  background: #fcfcfc;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
#c-right .right-menu {
  position: absolute;
  right: -90px;
  top: 100px;
}
#c-right .right-menu li {
  margin: 5px;
}
#c-right .right-menu li a {
  display: block;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
  background: #f0bdbd;
  box-sizing: border-box;
  border-bottom: 0 solid;
  text-decoration: none;
  transition: all .2s ease-out;
}
#c-right .right-menu li a:hover {
  border-bottom-width: 4px;
}

.add, .save, .post {
  z-index: 1;
  display: none;
  position: absolute;
  top: 200px;
  left: calc(50vw - 130px);
  width: 260px;
  border-radius: 5px;
  background: #f0bdbd;
  box-shadow: 0px 0 3px 3px rgba(0, 0, 0, 0.2);
}
.add h4, .save h4, .post h4 {
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  cursor: move;
  margin: 0 0 5px 0;
}

.add div {
  padding: 0 5px;
}
.add div p {
  height: 80px;
  line-height: 80px;
  font-size: 44px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 5px 5px rgba(192, 151, 151, 0.5);
  cursor: cell;
  opacity: 0.5;
}
.add div p:hover {
  opacity: 1;
}
.add div a {
  display: block;
  margin: auto;
  height: 40px;
  width: 100px;
  line-height: 40px;
  text-align: center;
  border-bottom: 0 solid;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .3s ease-out;
}
.add div a:hover {
  border-bottom-width: 4px;
}

.save div, .post div {
  padding: 0 5px;
}
.save div input, .post div input {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}
.save div a, .post div a {
  display: block;
  margin: auto;
  height: 32px;
  width: 100px;
  line-height: 32px;
  text-align: center;
  border-bottom: 0 solid;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .3s ease-out;
}
.save div a:hover, .post div a:hover {
  border-bottom-width: 4px;
}

.alerter {
  z-index: 1;
  position: fixed;
  top: 60px;
  width: 200px;
  left: calc(50vw - 100px);
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #aba2a2;
  box-sizing: border-box;
  display: none;
}
.alerter h4 {
  text-align: center;
  height: 32px;
  line-height: 32px;
  background: #f0bdbd;
  font-size: 18px;
  color: #4c4c4c;
}
.alerter div {
  text-align: center;
  padding: 5px;
  color: #636363;
}

.images {
  z-index: 1;
  display: none;
  position: absolute;
  top: 200px;
  left: calc(50vw - 300px);
  width: 600px;
  border-radius: 5px;
  background: #f0bdbd;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.images h4 {
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  cursor: move;
  margin: 0 0 5px 0;
}
.images .images-box {
  position: relative;
  height: 300px;
}
.images .images-box .move-btn {
  z-index: 1;
  position: absolute;
  top: calc(150px - 50px);
  height: 100px;
  width: 32px;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 1px 1px #333;
  cursor: e-resize;
  opacity: 0.1;
  transition: all .5s ease-out;
}
.images .images-box .move-btn:hover {
  opacity: 0.7;
  background: #333;
}
.images .images-box .move-btn:first-child {
  left: 0;
}
.images .images-box .move-btn:last-child {
  right: 0;
}
.images .images-items {
  position: absolute;
  left: 0;
  transition: all .5s ease-out;
}
.images .images-items .images-item {
  position: absolute;
  padding: 5px;
  height: 300px;
  width: 600px;
  box-sizing: border-box;
  overflow: scroll;
}
.images .images-items .images-item:first-child {
  left: 0;
}
.images .images-items .images-item:last-child {
  left: 600px;
}
.images .images-items .images-item li {
  display: block;
  float: left;
  padding: 2px;
  width: 33.33%;
  height: 130px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: copy;
}
.images .images-items .images-item li img {
  height: 100%;
  width: 100%;
}
.images .images-items .images-item p {
  margin: 30px auto 10px auto;
  width: 320px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  font-size: 100px;
  background: #f3f3f3;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: cell;
}
.images .images-items .images-item b {
  display: block;
  float: left;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.images .images-items span {
  display: block;
  margin: auto;
  text-align: center;
}
.images .images-items a {
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 0 solid;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s ease-out;
}
.images .images-items a:hover {
  border-bottom-width: 4px;
}

/*# sourceMappingURL=style.css.map */
