/*公共样式*/
* {
    margin: 0;
}

body {
    background: #fafafa;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #fff2df;
}

/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
    background-color: #ff7500;
}

/* 滑块颜色 */
::-webkit-scrollbar-button {
    background-color: #ff7500;
}

/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
    background-color: black;
}


$boxColor:#999999;

/*文章列表区*/
#left-box {
    position: fixed;
    padding: 5px;
    top: 100px;
    bottom: 100px;
    left: 0px;
    width: 10px;
    background: $boxColor;
    box-sizing: border-box;

    &:hover {
        width: 300px;
        overflow-y: scroll;
    }

    ul {
        padding: 5px;

        li {
            list-style: none;
            margin: 2px 0;
            color: rgb(128, 178, 243);
            background: rgb(244, 245, 196);
            border-bottom: 1px dotted #333333;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
            overflow: hidden;

            &:hover {
                margin-left: 10px;
                color: #232323;
                cursor: pointer;
            }
        }
    }

}

/*中间编辑区*/
#centor-box {
    margin: auto;
    width: 1200px;
    box-sizing: border-box;

    #centor-top {
        position: fixed;
        top: 0px;
        height: 5px;
        width: 1200px;
        background: $boxColor;
        overflow: hidden;

        &:hover {
            height: 100px;
        }

    }

    #centor-bot {
        padding-top: 100px;

        .title {
            text-align: center;
        }

        input {
            height: 24px;
            width: 100%;
            line-height: 24px;
            font-size: 16px;
            text-align: center;
            border: 0;
            border-bottom: 1px solid #f0f0f0;

            &:nth-child(2n+1) {
                background: $boxColor;
            }
        }

        .centor-view {
            position: relative;

            .file-add {
                position: absolute;
                width: 100px;
                height: 100px;
                right: 0;
                border: 3px dotted #999;
                text-align: center;
                opacity: 0.2;

                &:hover {
                    border-color: #333;
                    opacity: 0.9;
                }

                p {
                    font-size: 40px;
                    line-height: 100px;
                }

                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }

            .editbox {
                height: 580px;
                width: 100%;
                background: $boxColor;
                overflow: auto;

                input[type='file'] {
                    display: none;
                }

                #editor {
                    width: 100%;
                }

                #codebox {
                    padding: 5px;

                    pre {
                        white-space: pre-wrap;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}


/*右边功能区*/
#right-box {
    position: fixed;
    padding: 5px;
    top: 100px;
    bottom: 100px;
    right: 0px;
    width: 10px;
    background: $boxColor;
    box-sizing: border-box;

    &:hover {
        width: 300px;
    }

    ul {
        padding: 5px;

        li {
            list-style: none;
            margin: 5px;
            padding: 5px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 10px;
            background: #ab90eb;
            cursor: pointer;
        }
    }
}